:root {
    --body-background-gradient-1: #273028;
    --body-background-gradient-2: #cbe2c9;
    --white-bread: #F2F1EB;
    --dark-green: #1a241c;
    --sidebar-dark-green-active: #29362c;
    --green: #485f4d;
    --red: #df0808;
}