.container {
    width: 50%;
    height: 60%;
}

.form-container fieldset {
    width: 70%;
    height: 50%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr;
}

.form-container form label {
    width: 100px;
    font-size: 17px;
    display: block;
    color: var(--dark-green);
}

.form-container input {
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 10px;
    border: 2px solid var(--dark-green);
}

.inpt-form-placa {
    width: 150px;
    text-transform: uppercase;
}

.inpt-form-modelo {
    width: 300px;
}

.inpt-form-data {
    width: 160px;
}

.item-bttn {
    grid-column: span 2;
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    margin-bottom: 20px;
}

.selecao {
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 10px;
    border: 2px solid var(--dark-green);
}

.motorista {
    width: 250px;
}

.horario {
    width: 120px;
}