.container {
    width: 50%;
    height: 60%;
}

.form-container fieldset {
    width: 70%;
    height: 50%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr;
}

.form-container form label {
    font-size: 17px;
    display: block;
    color: var(--dark-green);
    padding-bottom: 5px;
}

.form-container input {
    margin-bottom: 20px;
    height: 40px;
    font-size: 20px;
    width: 175px;

    border-radius: 10px;
    padding-left: 10px;
    border: 2px solid var(--dark-green);
}

.form-container .inpt-form {
    width: 300px;
}

.grid-item3 {
    display: flex;
    align-items: center;
}

.grid-item4 {
    grid-column: span 2;
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

