.container {
    width: 60%;
    height: 60%;
}

.form-container fieldset {
    width: 80%;
    height: 50%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr;
}

.form-container form label {
    font-size: 17px;
    display: block;
    color: var(--dark-green);
    padding-bottom: 5px;
}

.form-container input {
    margin-bottom: 20px;
    height: 40px;
    font-size: 20px;

    border-radius: 10px;
    padding-left: 10px;
    border: 2px solid var(--dark-green);
}

.form-container .inpt-form {
    width: 400px;
}

.container-endereco {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr;

}

.inpt-form-numero {
    width: 100px;
}