.container {
    width: 50%;
    height: 80%;
}

.container form {
    align-items: start;
}

.form-container fieldset {
    width: 70%;
    height: 50%;
    align-items: start;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr;
}


.form-container form label {
    font-size: 17px;
    display: block;
    color: var(--dark-green);
    padding-bottom: 5px;
}

.form-container input {
    margin-bottom: 20px;
    height: 40px;
    font-size: 20px;
    width: 300px;

    border-radius: 10px;
    padding-left: 10px;
    border: 2px solid var(--dark-green);
}

.linha {
    width: 100%;
    height: 5px;
    border-radius: 20px;
    background-color: var(--dark-green);
    grid-column: span 2;
    margin-bottom: 10px;
}

.titulo {
    height: 60px;
}

.cidade {
    display: flex;
    justify-content: space-between;
}

.cidade input {
    width: 200px;
}

.selecao {
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 10px;
    border: 2px solid var(--dark-green);
}

.item-contato {
    grid-column: span 2;
}
